

li {
    color:blueviolet;
    background-color:rgb(156, 149, 153, 90);
}

h1 {
    color:aqua;
    font-size: larger;
}

.bacon {
    color:darkgoldenrod;
    font-size: xx-large;
}

#ultimate {
    color:darkorange;
}